/* GLOBAL RESETS */
* {
  box-sizing: border-box;
}

/*

TABLE OF CONTENTS

# GLOBAL RESETS 
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER

*/
/* BASE TEXT COLORS */
body {
  color: rgba(0, 0, 0, 0.8);
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

/* BASE TEXT FONTS */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 0.5em 0;
}

/* TYPOGRAPHIC SCALES*/
h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2;
}

/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 40em;
}

/* LINKS */
a {
  color: white;
}
a:hover {
  color: #464646;
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3em 0;
}

/* TYPE SPECIMEN */
.headline {
  font-size: 4em;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  color: #8c0000;
}

.subheadline {
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.5);
  margin: 0.25em 0;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 3em 0 3em 0;
}

.projects-content {
  margin: auto;
  padding: 17em 5em;
  max-width: 75%;
  color: rgba(0, 0, 0, 0.8);
}

.projects-content-title {
  font-size: 5em;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: white;
  color: white;
  text-decoration: none;
  padding: 1em;
  border-radius: 6px;
  margin: 1em 0.5em 1em 0;
}
.button:hover {
  color: white;
  background-color: #464646;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 0 5em;
}

.about-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5em;
}
.about-container .about-body {
  color: rgba(0, 0, 0, 0.8);
  background-color: white;
  margin: 0;
  padding: 2em;
  max-width: none;
}
.about-container .about-name h1 {
  font-size: 6em;
}
.about-container .about-name h1 span {
  font-size: 2.5em;
  color: #8c0000;
  margin-bottom: 0;
  display: block;
}
.about-container .about-name h2 {
  max-width: 15em;
  color: white;
}
.about-container .about-img {
  border: 1px solid red;
}
.about-container .about-img img {
  width: 100%;
}
@media (min-width: 768px) {
  .about-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .about-container .child1 {
    grid-column: 6/span 3;
    grid-row: 5/span 3;
    z-index: 5;
  }
  .about-container .child2 {
    grid-column: 2/span 3;
    grid-row: 5/span 3;
    display: flex;
    align-items: flex-end;
  }
  .about-container .child3 {
    grid-column: 2/span 6;
    grid-row: 9/span 3;
    z-index: 4;
  }
  .about-container .child4 {
    grid-column: 7/span 6;
    grid-row: 1/span 12;
    display: flex;
    align-items: center;
  }
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}
/* SEMANTIC GRID */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%;
  align-items: center;
  margin-bottom: 1em;
}
.row > * {
  margin: 1%;
  flex-grow: 1;
}
.row.overlap {
  position: absolute;
}
.row.centered {
  justify-content: center;
}
.row.swapped {
  flex-direction: row-reverse;
}
.row.stacked {
  flex-direction: column;
}
.row.align-top {
  align-items: flex-start;
}
@media (min-width: 768px) {
  .row > * {
    flex-grow: 0;
  }
  .row .one-whole {
    width: 98%;
  }
  .row .one-half {
    width: 48%;
  }
  .row .one-third {
    width: 31.333%;
  }
  .row .two-thirds {
    width: 64.666%;
  }
  .row .one-fourth {
    width: 23%;
  }
  .row .three-fourths {
    width: 73%;
  }
  .row .push-one-fourth {
    margin-left: 26%;
  }
  .row .push-one-third {
    margin-left: 34.333%;
  }
  .row .push-one-half {
    margin-left: 51%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.demo {
  box-shadow: inset 0 0 0 1px red;
}
.demo .row {
  background-color: rgba(255, 0, 0, 0.1);
  margin-bottom: 0;
}
.demo .row > * {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
  box-shadow: inset 0 0 0 1px green;
}

/* SITE STRUCTURE */
.site-header {
  position: absolute;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header a {
  color: white;
  text-decoration: none;
}
.site-header h1 {
  font-size: 1.5em;
  margin: 0;
}
.site-header .site-id {
  align-items: center;
}
.site-header .logo {
  max-width: 60px;
  margin-right: 0.5em;
}

/* SITE-FOOTER */
.site-footer {
  background-color: black;
  display: flex;
  padding: 1em;
  justify-content: center;
}
.site-footer a {
  color: white;
  text-decoration: none;
}

section {
  padding: 4em 0 0;
  display: grid;
  align-items: center;
}

/* HERO SECTION */
.hero {
  background: black;
  padding: 2em 0;
  color: white;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.hero h1 {
  margin-bottom: 0.25em;
  color: white;
  max-width: 900px;
}
.hero p {
  margin: 1em auto;
}

.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* SITE-HEADER SITE-NAV */
.site-header .site-nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 12;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.site-header .site-nav .panels {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.site-header .site-nav .panels .panel {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  height: 100vh;
}
.site-header .site-nav .panels .panel1,
.site-header .site-nav .panels .panel2child {
  transition: 0.3s all cubic-bezier(0, 0, 0, 1);
}
.site-header .site-nav .panels .panel1 {
  background: white;
  transform: translate(-100%, 0);
  align-items: flex-end;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
}
.site-header .site-nav .panels .panel1 ul {
  padding-top: 40px;
}
.site-header .site-nav .panels .panel1 li {
  list-style: none;
  color: black;
  margin-top: 5px;
}
.site-header .site-nav .panels .panel2child {
  background: grey;
  transform: translate(-100%, 0);
  z-index: 10;
  height: 100vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3em;
  line-height: 1;
}
.site-header .site-nav .panels .panel2 {
  position: relative;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  left: 50%;
}
.site-header .site-nav .panels .panel2 li {
  list-style: none;
}
.site-header .site-nav .panels .panel2 a {
  color: white;
}
.site-header .site-nav .panels .panel2 a:hover {
  color: #464646;
}
.site-header .site-nav .menu-button {
  position: absolute;
  position: fixed;
  right: 30px;
  top: 20px;
  width: 40px;
  z-index: 20;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  /*   background:#ffffff; */
  /*   border-radius: 40px; */
  transition: all 0.25s cubic-bezier(0.18, 0.02, 0.08, 0.98);
}
.site-header .site-nav .menu-button span {
  background: white;
  border-radius: 3px;
  display: inline-block;
  margin-top: 3px;
  margin-right: 4px;
  height: 35px;
  width: 2px;
  display: inline-block;
  /*     transition: all .25s cubic-bezier(.18,.02,.08,.98); */
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-fuction: cubic-bezier(0.18, 0.02, 0.08, 0.98);
  transition-delay: 0;
}
.site-header .site-nav .menu-button span:last-child {
  margin-right: 0px;
}
.site-header .site-nav[data-navstate=open] .menu-button span {
  background: #fff;
  transition-delay: 0.5s;
}
.site-header .site-nav[data-navstate=closed] .menu-button span {
  transition-delay: 0;
}
.site-header .site-nav[data-navstate=open] .menu-button span:nth-child(1) {
  transform: rotate(45deg);
  margin-top: 0px;
  margin-left: 0px;
}
.site-header .site-nav[data-navstate=open] .menu-button span:nth-child(3) {
  transform: rotate(-45deg);
  margin-left: -18px;
  margin-top: 0px;
}
.site-header .site-nav[data-navstate=open] .menu-button span:nth-child(2) {
  height: 0;
}

.site-nav[data-navstate=open] .menu-button {
  visibility: visible;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.site-nav[data-navstate=open] .panels .panel2child,
.site-nav[data-navstate=open] .panels .panel1 {
  transform: translate(0, 0);
}

.site-nav[data-navstate=open] .panels .panel2 {
  visibility: visible;
}

.site-nav[data-navstate=closed] .panels .panel2 {
  visibility: hidden;
}

/* FOOTER SITE-NAV */
.site-footer .site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-footer .site-nav a {
  display: inline-block;
  padding: 1em;
  line-height: 1;
}

ANIMATIONS SCROLL TRIGGERED ANIMATIONS .animate-on-scroll,
.animate-on-scroll[data-sectionstate=inactive] {
  transition: all linear 1s;
  opacity: 0;
}

.animate-on-scroll[data-sectionstate=active] {
  opacity: 1;
}

#projects .one-half:nth-child(1) {
  transition: all 1.5s ease-out;
  transform: translate(-50px, 0);
  opacity: 0;
}
#projects[data-sectionstate=active] .one-half:nth-child(1) {
  transform: translate(0, 0);
  opacity: 100;
}
#projects .one-half:nth-child(2) {
  transition: all 1.5s ease-out;
  transform: translate(50px, 0);
  opacity: 0;
}
#projects[data-sectionstate=active] .one-half:nth-child(2) {
  transform: translate(0, 0);
  opacity: 100;
}

#projects2 .one-half:nth-child(1) {
  transition: all 1.5s ease-out;
  transform: translate(-50px, 0);
  opacity: 0;
}
#projects2[data-sectionstate=active] .one-half:nth-child(1) {
  transform: translate(0, 0);
  opacity: 100;
}
#projects2 .one-half:nth-child(2) {
  transition: all 1.5s ease-out;
  transform: translate(50px, 0);
  opacity: 0;
}
#projects2[data-sectionstate=active] .one-half:nth-child(2) {
  transform: translate(0, 0);
  opacity: 100;
}

#projects3 .one-half:nth-child(1) {
  transition: all 1.5s ease-out;
  transform: translate(-50px, 0);
  opacity: 0;
}
#projects3[data-sectionstate=active] .one-half:nth-child(1) {
  transform: translate(0, 0);
  opacity: 100;
}
#projects3 .one-half:nth-child(2) {
  transition: all 1.5s ease-out;
  transform: translate(50px, 0);
  opacity: 0;
}
#projects3[data-sectionstate=active] .one-half:nth-child(2) {
  transform: translate(0, 0);
  opacity: 100;
}

.animate-scale-in,
[data-sectionstate=inactive] .animate-scale-in {
  transition: all 1s ease-out;
  opacity: 0;
  transform: scale(0.8);
}

[data-sectionstate=active] .animate-scale-in {
  opacity: 1;
  transform: scale(1);
}

.animate-slide-up,
[data-sectionstate=inactive] .animate-slide-up {
  transition: all 1s ease-out;
  opacity: 0;
  transform: translate(0, 100px);
}

[data-sectionstate=active] .animate-slide-up {
  opacity: 1;
  transform: translate(0, 0);
}

.animate-drop-in-with-delay *,
[data-sectionstate=inactive] .animate-drop-in-with-delay * {
  transition: all 1s ease-out;
  opacity: 0;
  transform: translate(0, -20px);
}
.animate-drop-in-with-delay *:nth-child(1),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(1) {
  transition-delay: 0.2s;
}
.animate-drop-in-with-delay *:nth-child(2),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(2) {
  transition-delay: 0.4s;
}
.animate-drop-in-with-delay *:nth-child(3),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(3) {
  transition-delay: 0.6s;
}
.animate-drop-in-with-delay *:nth-child(4),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(4) {
  transition-delay: 0.8s;
}
.animate-drop-in-with-delay *:nth-child(5),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(5) {
  transition-delay: 1s;
}

[data-sectionstate=active] .animate-drop-in-with-delay * {
  opacity: 1;
  transform: translate(0, 0);
}

.typing {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  width: 0;
  animation: typingAnim 3s steps(50) forwards;
}
.typing:nth-child(2) {
  animation-delay: 2.5s;
}
.typing:nth-child(3) {
  animation-delay: 5s;
}

@keyframes typingAnim {
  to {
    width: 100%;
  }
}
.revealmessage {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
  font-size: 3rem;
  line-height: 1.5;
}

.premessage {
  display: inline;
  background-color: pink;
  overflow: hidden;
}

.message {
  background-color: yellow;
  color: #333;
  display: inline-block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: openclose 5s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: 0rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0rem;
    width: 230px;
  }
  33% {
    top: 0rem;
    width: 0;
  }
  35% {
    top: 0rem;
    width: 0;
  }
  38% {
    top: -4rem;
  }
  48% {
    top: -4rem;
    width: 190px;
  }
  62% {
    top: -4rem;
    width: 190px;
  }
  66% {
    top: -4rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
.hover-block {
  position: relative;
  overflow: hidden;
}
.hover-block .hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(100%, 0);
  transition: all 0.4s ease-out;
}
.hover-block .hover-content.from-bottom {
  transform: translate(0, 100%);
}
.hover-block .hover-content.from-right {
  transform: translate(100%, 0);
}
.hover-block .hover-content.from-left {
  transform: translate(-100%, 0);
}
.hover-block:hover .hover-content {
  transform: translate(0, 0);
}

.hover-block-roster {
  position: relative;
  overflow: hidden;
}
.hover-block-roster .hover-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hover-block-roster:hover .hover-content {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}