/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*

TABLE OF CONTENTS

# GLOBAL RESETS 
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER

*/
/* BASE TEXT COLORS */
body {
  color: rgba(0, 0, 0, 0.8);
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

/* BASE TEXT FONTS */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 0.5em 0;
}

/* TYPOGRAPHIC SCALES*/
h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1;
}

h3 {
  font-size: 2em;
  line-height: 1.2;
  font-family: "oswald";
}

.text-centered {
  text-align: center;
}

/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 23em;
}
p span {
  font-size: 1.25em;
  font-family: "oswald";
}

/* LINKS */
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #464646;
  text-decoration: none;
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 1em auto;
  display: block;
  width: 40%;
}

hr.orange-line {
  width: 12%;
  background-color: #ff5722;
  height: 6px;
}

hr.blue-line {
  width: 12%;
  background-color: #03f0ff;
  height: 6px;
}

/* TYPE SPECIMEN */
.headline {
  font-size: 4em;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  color: black;
  font-family: "oswald";
}

.subheadline {
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.5);
  margin: 0.25em 0;
  font-family: "oswald";
}

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 3em 0 3em 0;
}

/* PROJECT PAGE TYPE */
.projects-content {
  color: white;
  font-size: clamp(1em, 5vw, 6em);
  font-family: "oswald";
  margin: auto;
  max-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
}

/* SURFRIDERS TYPOGRAHPY */
.surfriders-container {
  max-width: 45%;
  margin: 0 auto;
  padding: 0 5em;
}

.surfriders-body-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 5em;
}

.surfriders-center-type h1 {
  font-size: 6em;
  line-height: 0.8;
  font-family: "abel";
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 0.15em;
}
.surfriders-center-type h1 span {
  font-family: "badaboom-pro", impact, sans-serif;
}
.surfriders-center-type h2 {
  color: rgba(0, 0, 0, 0.8);
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: utopia-std-headline, serif;
  font-weight: 50;
  font-style: normal;
  letter-spacing: 8px;
  margin: 4em 0;
}
.surfriders-center-type h2 span {
  color: white;
}
.surfriders-center-type h3 {
  font-size: 2.25em;
  max-width: 10em;
  font-family: "oswald";
  margin: 0;
}
.surfriders-center-type h4 {
  font-size: 2em;
  font-family: "Squada One", cursive;
}
.surfriders-center-type h4 span {
  font-family: "badaboom-pro", impact, sans-serif;
}
.surfriders-center-type h4.abel {
  font-family: "Abel", sans-serif;
}
.surfriders-center-type a {
  color: #8c0000;
  font-size: 2.75em;
  font-family: "oswald";
}
.surfriders-center-type p {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2em;
  max-width: 35em;
}
.surfriders-center-type p span {
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: grey;
  margin-bottom: 2em;
  padding-top: 1em;
}

/* FORMOSA TYPOGRAHPY */
.formosa-container {
  max-width: 45%;
  margin: 0 auto;
  padding: 0 5em;
}

.formosa-body-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 5em;
}

.formosa-center-type h1 {
  color: #140453;
  font-size: 6em;
  line-height: 0.8;
  font-family: "Peignot LT Std";
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 0.15em;
}
.formosa-center-type h1 span {
  font-family: "Yananeska Personal Use", sans-serif;
  font-size: 10px;
}
@media (min-width: 414px) {
  .formosa-center-type h1 span {
    font-family: "Yananeska Personal Use", sans-serif;
    font-size: 20px;
  }
}
.formosa-center-type h2 {
  color: #140453;
  display: -ms-grid;
  display: grid;
  place-items: center;
  line-height: 0.8;
  font-family: "Peignot LT Std";
  font-size: 4em;
  font-style: normal;
  letter-spacing: 8px;
  margin: 3em 0;
}
.formosa-center-type h2 span {
  color: white;
}
.formosa-center-type h3 {
  font-size: 2.25em;
  max-width: 10em;
  font-family: "oswald";
  margin: 0;
}
.formosa-center-type h4 {
  font-size: 2em;
  font-family: "Squada One", cursive;
}
.formosa-center-type h4 span {
  font-family: "Peignot LT Std";
}
.formosa-center-type h4.yananeska {
  font-size: 1.25em;
  font-family: "Yananeska Personal Use", sans-serif;
}
.formosa-center-type a {
  color: #8c0000;
  font-size: 2.75em;
  font-family: "oswald";
}
.formosa-center-type p {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2em;
  max-width: 35em;
}
.formosa-center-type p span {
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: grey;
  margin-bottom: 2em;
  padding-top: 1em;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: white;
  color: white;
  text-decoration: none;
  padding: 1em;
  border-radius: 6px;
  margin: 1em 0.5em 1em 0;
}
.button:hover {
  color: white;
  background-color: #464646;
}

/* CASE STUDY IMAGE */
.case-study-img {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 3em;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  max-width: 70%;
  margin: 0 auto;
}

/* ABOUT CONTAINER */
.about-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5em;
}
.about-container .about-body {
  color: rgba(0, 0, 0, 0.8);
  background-color: white;
  margin: 0;
  padding: 3em;
  max-width: 80%;
}
.about-container .about-name {
  z-index: 15;
}
.about-container .about-name h1 {
  font-size: 6em;
}
.about-container .about-name h1 span {
  font-size: 2em;
  color: #8c0000;
  margin-bottom: 0;
  display: block;
}
.about-container .about-name h2 {
  font-size: 1.25em;
  max-width: 10em;
  color: white;
  font-family: "oswald";
}
.about-container .about-name a {
  color: #8c0000;
  font-size: 2.75em;
  font-family: "oswald";
}
.about-container .about-img img {
  width: 100%;
}
@media (min-width: 768px) {
  .about-container {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (1fr)[8];
    grid-template-rows: repeat(8, 1fr);
  }
  .about-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .about-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .about-container > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .about-container > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .about-container > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .about-container > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
  }
  .about-container > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .about-container > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 8;
  }
  .about-container > *:nth-child(9) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
  .about-container > *:nth-child(10) {
    -ms-grid-row: 1;
    -ms-grid-column: 10;
  }
  .about-container > *:nth-child(11) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
  }
  .about-container > *:nth-child(12) {
    -ms-grid-row: 1;
    -ms-grid-column: 12;
  }
  .about-container > *:nth-child(13) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .about-container > *:nth-child(14) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .about-container > *:nth-child(15) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .about-container > *:nth-child(16) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
  .about-container > *:nth-child(17) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }
  .about-container > *:nth-child(18) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
  }
  .about-container > *:nth-child(19) {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
  }
  .about-container > *:nth-child(20) {
    -ms-grid-row: 2;
    -ms-grid-column: 8;
  }
  .about-container > *:nth-child(21) {
    -ms-grid-row: 2;
    -ms-grid-column: 9;
  }
  .about-container > *:nth-child(22) {
    -ms-grid-row: 2;
    -ms-grid-column: 10;
  }
  .about-container > *:nth-child(23) {
    -ms-grid-row: 2;
    -ms-grid-column: 11;
  }
  .about-container > *:nth-child(24) {
    -ms-grid-row: 2;
    -ms-grid-column: 12;
  }
  .about-container > *:nth-child(25) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .about-container > *:nth-child(26) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .about-container > *:nth-child(27) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .about-container > *:nth-child(28) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
  }
  .about-container > *:nth-child(29) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .about-container > *:nth-child(30) {
    -ms-grid-row: 3;
    -ms-grid-column: 6;
  }
  .about-container > *:nth-child(31) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
  .about-container > *:nth-child(32) {
    -ms-grid-row: 3;
    -ms-grid-column: 8;
  }
  .about-container > *:nth-child(33) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
  }
  .about-container > *:nth-child(34) {
    -ms-grid-row: 3;
    -ms-grid-column: 10;
  }
  .about-container > *:nth-child(35) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
  }
  .about-container > *:nth-child(36) {
    -ms-grid-row: 3;
    -ms-grid-column: 12;
  }
  .about-container > *:nth-child(37) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .about-container > *:nth-child(38) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .about-container > *:nth-child(39) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .about-container > *:nth-child(40) {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
  }
  .about-container > *:nth-child(41) {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
  }
  .about-container > *:nth-child(42) {
    -ms-grid-row: 4;
    -ms-grid-column: 6;
  }
  .about-container > *:nth-child(43) {
    -ms-grid-row: 4;
    -ms-grid-column: 7;
  }
  .about-container > *:nth-child(44) {
    -ms-grid-row: 4;
    -ms-grid-column: 8;
  }
  .about-container > *:nth-child(45) {
    -ms-grid-row: 4;
    -ms-grid-column: 9;
  }
  .about-container > *:nth-child(46) {
    -ms-grid-row: 4;
    -ms-grid-column: 10;
  }
  .about-container > *:nth-child(47) {
    -ms-grid-row: 4;
    -ms-grid-column: 11;
  }
  .about-container > *:nth-child(48) {
    -ms-grid-row: 4;
    -ms-grid-column: 12;
  }
  .about-container > *:nth-child(49) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .about-container > *:nth-child(50) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .about-container > *:nth-child(51) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .about-container > *:nth-child(52) {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
  }
  .about-container > *:nth-child(53) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .about-container > *:nth-child(54) {
    -ms-grid-row: 5;
    -ms-grid-column: 6;
  }
  .about-container > *:nth-child(55) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
  }
  .about-container > *:nth-child(56) {
    -ms-grid-row: 5;
    -ms-grid-column: 8;
  }
  .about-container > *:nth-child(57) {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
  }
  .about-container > *:nth-child(58) {
    -ms-grid-row: 5;
    -ms-grid-column: 10;
  }
  .about-container > *:nth-child(59) {
    -ms-grid-row: 5;
    -ms-grid-column: 11;
  }
  .about-container > *:nth-child(60) {
    -ms-grid-row: 5;
    -ms-grid-column: 12;
  }
  .about-container > *:nth-child(61) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .about-container > *:nth-child(62) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }
  .about-container > *:nth-child(63) {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
  }
  .about-container > *:nth-child(64) {
    -ms-grid-row: 6;
    -ms-grid-column: 4;
  }
  .about-container > *:nth-child(65) {
    -ms-grid-row: 6;
    -ms-grid-column: 5;
  }
  .about-container > *:nth-child(66) {
    -ms-grid-row: 6;
    -ms-grid-column: 6;
  }
  .about-container > *:nth-child(67) {
    -ms-grid-row: 6;
    -ms-grid-column: 7;
  }
  .about-container > *:nth-child(68) {
    -ms-grid-row: 6;
    -ms-grid-column: 8;
  }
  .about-container > *:nth-child(69) {
    -ms-grid-row: 6;
    -ms-grid-column: 9;
  }
  .about-container > *:nth-child(70) {
    -ms-grid-row: 6;
    -ms-grid-column: 10;
  }
  .about-container > *:nth-child(71) {
    -ms-grid-row: 6;
    -ms-grid-column: 11;
  }
  .about-container > *:nth-child(72) {
    -ms-grid-row: 6;
    -ms-grid-column: 12;
  }
  .about-container > *:nth-child(73) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .about-container > *:nth-child(74) {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
  }
  .about-container > *:nth-child(75) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .about-container > *:nth-child(76) {
    -ms-grid-row: 7;
    -ms-grid-column: 4;
  }
  .about-container > *:nth-child(77) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }
  .about-container > *:nth-child(78) {
    -ms-grid-row: 7;
    -ms-grid-column: 6;
  }
  .about-container > *:nth-child(79) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
  }
  .about-container > *:nth-child(80) {
    -ms-grid-row: 7;
    -ms-grid-column: 8;
  }
  .about-container > *:nth-child(81) {
    -ms-grid-row: 7;
    -ms-grid-column: 9;
  }
  .about-container > *:nth-child(82) {
    -ms-grid-row: 7;
    -ms-grid-column: 10;
  }
  .about-container > *:nth-child(83) {
    -ms-grid-row: 7;
    -ms-grid-column: 11;
  }
  .about-container > *:nth-child(84) {
    -ms-grid-row: 7;
    -ms-grid-column: 12;
  }
  .about-container > *:nth-child(85) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
  .about-container > *:nth-child(86) {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
  }
  .about-container > *:nth-child(87) {
    -ms-grid-row: 8;
    -ms-grid-column: 3;
  }
  .about-container > *:nth-child(88) {
    -ms-grid-row: 8;
    -ms-grid-column: 4;
  }
  .about-container > *:nth-child(89) {
    -ms-grid-row: 8;
    -ms-grid-column: 5;
  }
  .about-container > *:nth-child(90) {
    -ms-grid-row: 8;
    -ms-grid-column: 6;
  }
  .about-container > *:nth-child(91) {
    -ms-grid-row: 8;
    -ms-grid-column: 7;
  }
  .about-container > *:nth-child(92) {
    -ms-grid-row: 8;
    -ms-grid-column: 8;
  }
  .about-container > *:nth-child(93) {
    -ms-grid-row: 8;
    -ms-grid-column: 9;
  }
  .about-container > *:nth-child(94) {
    -ms-grid-row: 8;
    -ms-grid-column: 10;
  }
  .about-container > *:nth-child(95) {
    -ms-grid-row: 8;
    -ms-grid-column: 11;
  }
  .about-container > *:nth-child(96) {
    -ms-grid-row: 8;
    -ms-grid-column: 12;
  }
  .about-container .child1 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/span 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    grid-row: 3/span 3;
    z-index: 5;
  }
  .about-container .child2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/span 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/span 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .about-container .child3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3/span 6;
    -ms-grid-row: 6;
    -ms-grid-row-span: 3;
    grid-row: 6/span 3;
    z-index: 4;
  }
  .about-container .child4 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/span 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 8;
    grid-row: 1/span 8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* PROJECTS CONTAINER */
.project-container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.project-container .project-body {
  color: white;
  background-color: grey;
  margin: 0;
  padding: 3em;
  max-width: 80%;
}
.project-container .project-body-kl {
  color: white;
  background-color: #256b25;
  margin: 0;
  padding: 1.5em 3em;
  max-width: 50%;
}
.project-container .project-body-loki {
  color: white;
  background-color: #3f8597;
  margin: 0;
  padding: 3em;
  max-width: 80%;
}
.project-container .project-name {
  padding: 2em;
  max-width: 30em;
}
.project-container .project-name h1 {
  font-size: 6em;
  margin: 0;
  color: black;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.project-container .project-name h1 span {
  font-size: 2em;
  color: #8c0000;
  margin-bottom: 0;
  display: block;
}
.project-container .project-name h2 {
  font-size: 4em;
  max-width: none;
  color: black;
  margin: 0;
  font-family: quicksand, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.project-container .project-name h3 {
  font-size: 1.5em;
  max-width: none;
  color: #656565;
  margin: 0 0 1.5em 0;
  font-family: quicksand, sans-serif;
  font-weight: 300;
  font-style: normal;
}
.project-container .project-name a {
  color: #8c0000;
  font-size: 2.75em;
  font-family: "oswald";
}
.project-container .project-name p {
  max-width: none;
  font-size: 1.25em;
}
.project-container .project-name p span {
  max-width: none;
  color: #656565;
  margin: 0 0 5em 0;
  font-family: quicksand, sans-serif;
  font-weight: 300;
  font-style: normal;
}
.project-container .project-name h2,
.project-container .project-name h3,
.project-container .project-name p {
  width: 100%;
}
.project-container .swapped .project-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* SHORTCUT MENU */
.mini-projects-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em auto;
  padding: 0;
  list-style: none;
  overflow-x: auto;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mini-projects-menu li {
  margin: 1%;
  padding: 0;
  min-width: 200px;
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 37%;
}

@media (min-width: 414px) {
  body {
    font-size: 65%;
  }
}
@media (min-width: 769px) {
  body {
    font-size: 80%;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1920px) {
  body {
    font-size: 112.5%;
  }
}
/* SEMANTIC GRID */
.site-main {
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.row > * {
  margin: 1%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row.overlap {
  position: absolute;
}
.row.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.swapped {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row.stacked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.row.nogap {
  margin-left: 0;
  margin-right: 0;
}
.row.nogap > * {
  margin: 0;
}
@media (min-width: 769px) {
  .row.nogap .one-third {
    width: 33.333%;
  }
  .row.nogap .two-thirds {
    width: 66.666%;
  }
}
@media (min-width: 769px) {
  .row > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 98%;
  }
  .row .one-half {
    width: 48%;
  }
  .row .one-third {
    width: 31.333%;
  }
  .row .two-thirds {
    width: 64.666%;
  }
  .row .one-fourth {
    width: 23%;
  }
  .row .three-fourths {
    width: 73%;
  }
  .row .push-one-fourth {
    margin-left: 26%;
  }
  .row .push-one-third {
    margin-left: 34.333%;
  }
  .row .push-one-half {
    margin-left: 51%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.demo {
  -webkit-box-shadow: inset 0 0 0 1px red;
          box-shadow: inset 0 0 0 1px red;
}
.demo .row {
  background-color: rgba(255, 0, 0, 0.1);
  margin-bottom: 0;
}
.demo .row > * {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
  -webkit-box-shadow: inset 0 0 0 1px green;
          box-shadow: inset 0 0 0 1px green;
}

/* SITE STRUCTURE */
.site-header {
  position: absolute;
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header a {
  color: white;
  text-decoration: none;
}
.site-header h1 {
  font-size: 1.5em;
  margin: 0;
}
.site-header .site-id {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 13;
}
.site-header .logo {
  max-width: 60px;
  margin-right: 0.5em;
}

/* SITE-FOOTER */
.site-footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-footer a {
  color: white;
  text-decoration: none;
}

section {
  padding: 2em 0 2em 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .first-row-section {
  padding: 0;
}
section .surfriders-section {
  padding: 4em 0 2em 0;
}

/* HERO SECTION */
.hero {
  padding: 2em 0 0 0;
  margin-bottom: 2em;
  color: white;
  min-height: 101vh;
  background-image: url("../img/hero-img.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
}
.hero .container {
  max-width: 100%;
}
.hero h1 {
  margin-bottom: 0.25em;
  color: white;
  max-width: 900px;
}
.hero p {
  margin: 1em 0 1em 0;
}

.large-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.large-header .absolute {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  top: 45%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -45%, 0);
          transform: translate3d(-50%, -45%, 0);
}

.scale-with-grid {
  height: auto;
}

/* ABOUT HERO SECTION */
.about-hero {
  background: black;
}
.about-hero h1 {
  margin-bottom: 0.25em;
  color: white;
  max-width: 900px;
}

/* CONTACT SECTION */
.contact {
  background: black;
  padding: 2em 0;
  color: white;
  min-height: 101vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 2em;
}

/* PROJECT HERO SECTION */
.project-hero {
  padding: 0;
}
.project-hero .project-hero-content-short {
  max-width: 1000px;
  position: relative;
  top: -130px;
  width: 80%;
  margin: 0 auto;
  padding: 0 1em;
}
.project-hero .project-hero-content-long {
  max-width: 1000px;
  position: relative;
  top: -160px;
  width: 80%;
  margin: 0 auto;
  padding: 0 1em;
}
.project-hero .project-hero-content-irregular {
  max-width: 1000px;
  position: relative;
  top: -220px;
  width: 80%;
  margin: 0 auto;
  padding: 0 1em;
}
.project-hero .project-hero-img {
  text-align: right;
}
.project-hero .project-hero-img img {
  width: 80%;
}
.project-hero h1 {
  margin-bottom: 0.25em;
  color: white;
  max-width: 900px;
}

/* PROJECT PAGE SECTION */
.project-section {
  background: white;
  padding: 2em 0;
  color: white;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.project-section h1 {
  margin-bottom: 0.25em;
  color: black;
  max-width: 900px;
}
.project-section p {
  margin: 1em auto;
  color: black;
}

/* FULL-WIDTH HELPER */
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.full-width img {
  width: 100%;
}

/* MEDIA QUERIES */
@media (min-width: 414px) {
  .project-hero .project-hero-content-short {
    max-width: 1000px;
    top: -170px;
    width: 85%;
  }
  .project-hero .project-hero-content-long {
    max-width: 1000px;
    top: -210px;
    width: 85%;
  }
}
@media (min-width: 769px) {
  .project-hero .project-hero-content-short {
    max-width: 1000px;
    top: -270px;
    width: 90%;
  }
  .project-hero .project-hero-content-long {
    max-width: 1000px;
    top: -340px;
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .project-hero .project-hero-content-short {
    max-width: 1000px;
    top: -340px;
    width: 97%;
  }
  .project-hero .project-hero-content-long {
    max-width: 1000px;
    top: -450px;
    width: 97%;
  }
  .project-hero .project-hero-content-irregular {
    max-width: 1000px;
    top: -580px;
    width: 97%;
  }
}
@media (min-width: 1920px) {
  .project-hero .project-hero-content-short {
    max-width: 1000px;
    top: -400px;
    width: 100%;
  }
  .project-hero .project-hero-content-long {
    max-width: 1000px;
    top: -450px;
    width: 100%;
  }
}
.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* SITE-HEADER SITE-NAV */
.site-header .site-nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 12;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.site-header .panels {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.site-header .panels .panel {
  color: white;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
  height: 100vh;
}
.site-header .panels .panel1,
.site-header .panels .panel2child {
  -webkit-transition: 0.3s all cubic-bezier(0, 0, 0, 1);
  transition: 0.3s all cubic-bezier(0, 0, 0, 1);
}
.site-header .panels .panel1 {
  background: white;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
}
.site-header .panels .panel1 ul {
  padding-top: 40px;
}
.site-header .panels .panel1 li {
  list-style: none;
  color: black;
  margin-top: 5px;
}
.site-header .panels .panel1 a {
  color: black;
}
.site-header .panels .panel1 a:hover {
  color: #464646;
}
.site-header .panels .panel2child {
  background: grey;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  z-index: 10;
  height: 100vh;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3em;
  line-height: 1;
}
.site-header .panels .panel2 {
  position: relative;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  left: 50%;
}
.site-header .panels .panel2 li {
  list-style: none;
}
.site-header .panels .panel2 a {
  color: white;
}
.site-header .panels .panel2 a:hover {
  color: #464646;
}
.site-header .menu-button {
  position: absolute;
  position: fixed;
  right: 26px;
  top: 20px;
  width: 40px;
  z-index: 20;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  /*   background:#ffffff; */
  /*   border-radius: 40px; */
  -webkit-transition: all 0.25s cubic-bezier(0.18, 0.02, 0.08, 0.98);
  transition: all 0.25s cubic-bezier(0.18, 0.02, 0.08, 0.98);
}
.site-header .menu-button span {
  background: white;
  border-radius: 3px;
  display: inline-block;
  margin-top: 3px;
  margin-right: 4px;
  height: 38px;
  width: 3px;
  display: inline-block;
  /*     transition: all .25s cubic-bezier(.18,.02,.08,.98); */
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  transition-timing-fuction: cubic-bezier(0.18, 0.02, 0.08, 0.98);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.site-header .menu-button span:last-child {
  margin-right: 0px;
}
.site-header[data-navstate=open] .menu-button span {
  background: #fff;
}
.site-header[data-navstate=closed] .site-id {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.site-header[data-navstate=closed] .menu-button span {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.site-header[data-navstate=open] .site-id {
  opacity: 0;
}
.site-header[data-navstate=open] .menu-button span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 0px;
  margin-left: 0px;
}
.site-header[data-navstate=open] .menu-button span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: -18px;
  margin-top: 0px;
}
.site-header[data-navstate=open] .menu-button span:nth-child(2) {
  height: 0;
}

.site-header[data-colorstate=dark] .site-nav .menu-button span {
  background: white;
}

.site-header[data-colorstate=light] .site-nav .menu-button span {
  background: #9f0000;
}
.site-header[data-colorstate=light] .site-nav .menu-button span.kl {
  background: #256b25;
}
.site-header[data-colorstate=light] .site-nav .menu-button span.surfriders {
  background: #ff5722;
}
.site-header[data-colorstate=light] .site-nav .menu-button span.formosa {
  background: #03f0ff;
}
.site-header[data-colorstate=light] .site-nav .menu-button span.stamps {
  background: #064392;
}
.site-header[data-colorstate=light] .site-nav .menu-button span.bookcover {
  background: #dbd576;
}
.site-header[data-colorstate=light] .site-nav .menu-button span.loki {
  background: #3f8597;
}

.site-header[data-navstate=open] .menu-button {
  visibility: visible;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.site-header[data-navstate=open] .panels .panel2child,
.site-header[data-navstate=open] .panels .panel1 {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.site-header[data-navstate=open] .panels .panel2 {
  visibility: visible;
}

.site-header[data-navstate=closed] .panels .panel2 {
  visibility: hidden;
}

/* FOOTER SITE-NAV */
.site-footer .site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-footer .site-nav a {
  display: inline-block;
  padding: 1em;
  line-height: 1;
}

ANIMATIONS SCROLL TRIGGERED ANIMATIONS .animate-on-scroll,
.animate-on-scroll[data-sectionstate=inactive] {
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
  opacity: 0;
}

.animate-on-scroll[data-sectionstate=active] {
  opacity: 1;
}

#projects .one-half:nth-child(1) {
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
  opacity: 0;
}
#projects[data-sectionstate=active] .one-half:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 100;
}
#projects .one-half:nth-child(2) {
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-transform: translate(50px, 0);
          transform: translate(50px, 0);
  opacity: 0;
}
#projects[data-sectionstate=active] .one-half:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 100;
}

#projects2 .one-half:nth-child(1) {
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
  opacity: 0;
}
#projects2[data-sectionstate=active] .one-half:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 100;
}
#projects2 .one-half:nth-child(2) {
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-transform: translate(50px, 0);
          transform: translate(50px, 0);
  opacity: 0;
}
#projects2[data-sectionstate=active] .one-half:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 100;
}

#projects3 .one-half:nth-child(1) {
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
  opacity: 0;
}
#projects3[data-sectionstate=active] .one-half:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 100;
}
#projects3 .one-half:nth-child(2) {
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-transform: translate(50px, 0);
          transform: translate(50px, 0);
  opacity: 0;
}
#projects3[data-sectionstate=active] .one-half:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 100;
}

.animate-scale-in,
[data-sectionstate=inactive] .animate-scale-in {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

[data-sectionstate=active] .animate-scale-in {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.animate-slide-up,
[data-sectionstate=inactive] .animate-slide-up {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}

[data-sectionstate=active] .animate-slide-up {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-drop-in-with-delay *,
[data-sectionstate=inactive] .animate-drop-in-with-delay * {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}
.animate-drop-in-with-delay *:nth-child(1),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.animate-drop-in-with-delay *:nth-child(2),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.animate-drop-in-with-delay *:nth-child(3),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.animate-drop-in-with-delay *:nth-child(4),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.animate-drop-in-with-delay *:nth-child(5),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

[data-sectionstate=active] .animate-drop-in-with-delay * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.typing {
  font-family: "oswald";
  font-size: 2em;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  line-height: 1.25;
  width: 0;
  -webkit-animation: typingAnim 2s steps(50) forwards;
          animation: typingAnim 2s steps(50) forwards;
}
.typing:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.typing:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes typingAnim {
  to {
    width: 100%;
  }
}

@keyframes typingAnim {
  to {
    width: 100%;
  }
}
.revealmessage {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 200px;
  font-size: 1.3rem;
  line-height: 1.15;
}

.premessage {
  display: inline;
  overflow: hidden;
}

.message {
  background-color: yellow;
  color: #333;
  display: inline-block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.25rem;
  left: 95px;
  -webkit-animation: openclose 7s ease-in-out infinite;
          animation: openclose 7s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
  font-family: tahoma, impact, sans-serif;
}

@-webkit-keyframes openclose {
  0% {
    top: 0rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 100px;
  }
  30% {
    top: 0rem;
    width: 100px;
  }
  33% {
    top: 0rem;
    width: 0;
  }
  35% {
    top: 0rem;
    width: 0;
  }
  38% {
    top: -1.5rem;
  }
  48% {
    top: -1.5rem;
    width: 75px;
  }
  62% {
    top: -1.5rem;
    width: 75px;
  }
  66% {
    top: -1.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -2.9rem;
    width: 0;
    text-indent: 0;
  }
  86% {
    top: -2.9rem;
    width: 110px;
  }
  95% {
    top: -2.9rem;
    width: 110px;
  }
  98% {
    top: -2.9rem;
    width: 0;
    text-indent: 0;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

@keyframes openclose {
  0% {
    top: 0rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 100px;
  }
  30% {
    top: 0rem;
    width: 100px;
  }
  33% {
    top: 0rem;
    width: 0;
  }
  35% {
    top: 0rem;
    width: 0;
  }
  38% {
    top: -1.5rem;
  }
  48% {
    top: -1.5rem;
    width: 75px;
  }
  62% {
    top: -1.5rem;
    width: 75px;
  }
  66% {
    top: -1.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -2.9rem;
    width: 0;
    text-indent: 0;
  }
  86% {
    top: -2.9rem;
    width: 110px;
  }
  95% {
    top: -2.9rem;
    width: 110px;
  }
  98% {
    top: -2.9rem;
    width: 0;
    text-indent: 0;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
/* MEDIA QUERIES */
@media (min-width: 414px) {
  .revealmessage {
    width: 230px;
    font-size: 1.5rem;
    line-height: 1.15;
  }

  .message {
    font-weight: 550;
    padding-left: 0.25rem;
    left: 110px;
  }

  @-webkit-keyframes openclose {
    0% {
      top: 0rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0rem;
      width: 230px;
    }
    33% {
      top: 0rem;
      width: 0;
    }
    35% {
      top: 0rem;
      width: 0;
    }
    38% {
      top: -1.7rem;
    }
    48% {
      top: -1.7rem;
      width: 90px;
    }
    62% {
      top: -1.7rem;
      width: 90px;
    }
    66% {
      top: -1.7rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -3.35rem;
      width: 0;
      text-indent: 0;
    }
    86% {
      top: -3.35rem;
      width: 310px;
    }
    95% {
      top: -3.35rem;
      width: 310px;
    }
    98% {
      top: -3.35rem;
      width: 0;
      text-indent: 0;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }

  @keyframes openclose {
    0% {
      top: 0rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0rem;
      width: 230px;
    }
    33% {
      top: 0rem;
      width: 0;
    }
    35% {
      top: 0rem;
      width: 0;
    }
    38% {
      top: -1.7rem;
    }
    48% {
      top: -1.7rem;
      width: 90px;
    }
    62% {
      top: -1.7rem;
      width: 90px;
    }
    66% {
      top: -1.7rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -3.35rem;
      width: 0;
      text-indent: 0;
    }
    86% {
      top: -3.35rem;
      width: 310px;
    }
    95% {
      top: -3.35rem;
      width: 310px;
    }
    98% {
      top: -3.35rem;
      width: 0;
      text-indent: 0;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
}
@media (min-width: 769px) {
  .revealmessage {
    width: 330px;
    font-size: 2rem;
    line-height: 1.25;
  }

  .message {
    font-weight: 600;
    padding-left: 0.5rem;
    left: 150px;
  }

  @-webkit-keyframes openclose {
    0% {
      top: 0rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 160px;
    }
    30% {
      top: 0rem;
      width: 160px;
    }
    33% {
      top: 0rem;
      width: 0;
    }
    35% {
      top: 0rem;
      width: 0;
    }
    38% {
      top: -2.6rem;
    }
    48% {
      top: -2.6rem;
      width: 125px;
    }
    62% {
      top: -2.6rem;
      width: 125px;
    }
    66% {
      top: -2.6rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -5rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -5rem;
      width: 240px;
    }
    95% {
      top: -5rem;
      width: 240px;
    }
    98% {
      top: -5rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }

  @keyframes openclose {
    0% {
      top: 0rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 160px;
    }
    30% {
      top: 0rem;
      width: 160px;
    }
    33% {
      top: 0rem;
      width: 0;
    }
    35% {
      top: 0rem;
      width: 0;
    }
    38% {
      top: -2.6rem;
    }
    48% {
      top: -2.6rem;
      width: 125px;
    }
    62% {
      top: -2.6rem;
      width: 125px;
    }
    66% {
      top: -2.6rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -5rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -5rem;
      width: 240px;
    }
    95% {
      top: -5rem;
      width: 240px;
    }
    98% {
      top: -5rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
}
@media (min-width: 1024px) {
  .revealmessage {
    width: 430px;
    font-size: 2.75rem;
    line-height: 1.25;
  }

  .message {
    font-weight: 700;
    padding-left: 0.5rem;
    left: 203px;
  }

  @-webkit-keyframes openclose {
    0% {
      top: 0rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 210px;
    }
    30% {
      top: 0rem;
      width: 210px;
    }
    33% {
      top: 0rem;
      width: 0;
    }
    35% {
      top: 0rem;
      width: 0;
    }
    38% {
      top: -3.45rem;
    }
    48% {
      top: -3.45rem;
      width: 163px;
    }
    62% {
      top: -3.45rem;
      width: 163px;
    }
    66% {
      top: -3.45rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -6.85rem;
      width: 0;
      text-indent: 1px;
    }
    86% {
      top: -6.85rem;
      width: 255px;
    }
    95% {
      top: -6.85rem;
      width: 255px;
    }
    98% {
      top: -6.85rem;
      width: 0;
      text-indent: 1px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }

  @keyframes openclose {
    0% {
      top: 0rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 210px;
    }
    30% {
      top: 0rem;
      width: 210px;
    }
    33% {
      top: 0rem;
      width: 0;
    }
    35% {
      top: 0rem;
      width: 0;
    }
    38% {
      top: -3.45rem;
    }
    48% {
      top: -3.45rem;
      width: 163px;
    }
    62% {
      top: -3.45rem;
      width: 163px;
    }
    66% {
      top: -3.45rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -6.85rem;
      width: 0;
      text-indent: 1px;
    }
    86% {
      top: -6.85rem;
      width: 255px;
    }
    95% {
      top: -6.85rem;
      width: 255px;
    }
    98% {
      top: -6.85rem;
      width: 0;
      text-indent: 1px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
}
@media (min-width: 1920px) {
  .revealmessage {
    width: 550px;
    font-size: 3rem;
    line-height: 1.5;
  }

  .message {
    font-weight: 900;
    padding-left: 0.5rem;
    left: 220px;
  }

  @-webkit-keyframes openclose {
    0% {
      top: 0rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0rem;
      width: 230px;
    }
    33% {
      top: 0rem;
      width: 0;
    }
    35% {
      top: 0rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
    }
    48% {
      top: -4.5rem;
      width: 180px;
    }
    62% {
      top: -4.5rem;
      width: 180px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 250px;
    }
    95% {
      top: -9rem;
      width: 250px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }

  @keyframes openclose {
    0% {
      top: 0rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0rem;
      width: 230px;
    }
    33% {
      top: 0rem;
      width: 0;
    }
    35% {
      top: 0rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
    }
    48% {
      top: -4.5rem;
      width: 180px;
    }
    62% {
      top: -4.5rem;
      width: 180px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 250px;
    }
    95% {
      top: -9rem;
      width: 250px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
}
.hover-block {
  position: relative;
  overflow: hidden;
}
.hover-block img {
  display: block;
}
.hover-block .hover-content {
  display: block;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.hover-block .hover-content .ribbon-left {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 8%;
  right: 55%;
  text-align: center;
}
.hover-block .hover-content .ribbon-left span {
  position: absolute;
  height: auto;
  width: 33%;
  border: solid yellow 4px;
  color: yellow;
  font-size: 1.25em;
  padding: 0.75em 0 0.75em 0.5em;
}
.hover-block .hover-content .ribbon-right {
  width: 90%;
  height: 100%;
  position: absolute;
  top: 8%;
  left: 27%;
  text-align: center;
}
.hover-block .hover-content .ribbon-right span {
  position: absolute;
  height: auto;
  width: 33%;
  border: solid yellow 4px;
  color: yellow;
  font-size: 1.25em;
  padding: 0.75em 0 0.75em 0.5em;
}
.hover-block .hover-content .project-meta {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
.hover-block .hover-content .project-meta span {
  display: inline-block;
  background: black;
  color: white;
  padding: 0 0.7em 0.1em 0.7em;
  border-radius: 0 0 5px 5px;
}
.hover-block .hover-content.to-right .project-meta {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}
.hover-block .hover-content.to-left .project-meta {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}
.hover-block:hover .hover-content.from-bottom {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.hover-block:hover .hover-content.from-right, .hover-block:hover .hover-content.to-right {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}
.hover-block:hover .hover-content.from-left, .hover-block:hover .hover-content.to-left {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}
.hover-block:hover .hover-content .project-meta {
  top: 0;
  -webkit-transition: all 0.4s ease 0.2s;
  transition: all 0.4s ease 0.2s;
}

@media (min-width: 769px) {
  .hover-block .hover-content .ribbon-left {
    width: 100%;
    height: 100%;
    top: 8%;
    right: 53%;
  }
  .hover-block .hover-content .ribbon-left span {
    height: auto;
    width: 33%;
    border: solid 3px;
    font-size: 0.55em;
    padding: 0.75em 0 0.75em 0.5em;
  }
  .hover-block .hover-content .ribbon-right {
    width: 90%;
    height: 100%;
    top: 8%;
    left: 27%;
  }
  .hover-block .hover-content .ribbon-right span {
    height: auto;
    width: 33%;
    border: solid 3px;
    font-size: 0.55em;
    padding: 0.75em 0 0.75em 0.5em;
  }
}
@media (min-width: 1920px) {
  .hover-block .hover-content .ribbon-left {
    width: 100%;
    height: 100%;
    top: 8%;
    right: 53%;
  }
  .hover-block .hover-content .ribbon-left span {
    height: auto;
    width: 35%;
    border: solid 4px;
    font-size: 1em;
    padding: 0.75em 0 0.75em 0.5em;
  }
  .hover-block .hover-content .ribbon-right {
    width: 100%;
    height: 100%;
    top: 8%;
    left: 18%;
  }
  .hover-block .hover-content .ribbon-right span {
    height: auto;
    width: 36%;
    border: solid 4px;
    font-size: 1em;
    padding: 0.75em 0.5em;
  }
}
.swiper-container {
  width: 80%;
  height: 100%;
  margin: 1em 0;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #9f0000;
}