ANIMATIONS SCROLL TRIGGERED ANIMATIONS .animate-on-scroll,
.animate-on-scroll[data-sectionstate="inactive"] {
  transition: all linear 1s ease;
  opacity: 0;
}

.animate-on-scroll[data-sectionstate="active"] {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}

// .hero,
// .hero[data-sectionstate="inactive"] {
//   .container * {
//     transition: all 1s ease-out;
//     // opacity: 0;
//     transform: translate(0, -20px);
//     &:nth-child(1) {
//       transition-delay: 0.2s;
//     }
//     &:nth-child(2) {
//       transition-delay: 0.4s;
//     }
//     &:nth-child(3) {
//       transition-delay: 0.6s;
//     }
//     &:nth-child(4) {
//       transition-delay: 0.8s;
//     }
//     &:nth-child(5) {
//       transition-delay: 1s;
//     }
//   }

//   &[data-sectionstate="active"] {
//     .container * {
//       opacity: 1;
//       transform: translate(0, 0);
//     }
//   }
// }

#projects {
  // ANIMATE THE FIRST COLUMN
  .one-half:nth-child(1) {
    transition: all 1.5s ease-out;
    transform: translate(-50px, 0);
    opacity: 0;
  }
  &[data-sectionstate="active"] {
    .one-half:nth-child(1) {
      transform: translate(0, 0);
      opacity: 100;
    }
  }

  // ANIMATE THE SECOND COLUMN
  .one-half:nth-child(2) {
    transition: all 1.5s ease-out;
    transform: translate(50px, 0);
    opacity: 0;
  }
  &[data-sectionstate="active"] {
    .one-half:nth-child(2) {
      transform: translate(0, 0);
      opacity: 100;
    }
  }
}

#projects2 {
  // ANIMATE THE FIRST COLUMN
  .one-half:nth-child(1) {
    transition: all 1.5s ease-out;
    transform: translate(-50px, 0);
    opacity: 0;
  }
  &[data-sectionstate="active"] {
    .one-half:nth-child(1) {
      transform: translate(0, 0);
      opacity: 100;
    }
  }

  // ANIMATE THE SECOND COLUMN
  .one-half:nth-child(2) {
    transition: all 1.5s ease-out;
    transform: translate(50px, 0);
    opacity: 0;
  }
  &[data-sectionstate="active"] {
    .one-half:nth-child(2) {
      transform: translate(0, 0);
      opacity: 100;
    }
  }
}

#projects3 {
  // ANIMATE THE FIRST COLUMN
  .one-half:nth-child(1) {
    transition: all 1.5s ease-out;
    transform: translate(-50px, 0);
    opacity: 0;
  }
  &[data-sectionstate="active"] {
    .one-half:nth-child(1) {
      transform: translate(0, 0);
      opacity: 100;
    }
  }

  // ANIMATE THE SECOND COLUMN
  .one-half:nth-child(2) {
    transition: all 1.5s ease-out;
    transform: translate(50px, 0);
    opacity: 0;
  }
  &[data-sectionstate="active"] {
    .one-half:nth-child(2) {
      transform: translate(0, 0);
      opacity: 100;
    }
  }
}
// UTILITY / HELPER CALSSES FOR ANIMATION
// DEFINE ANIMATION IN CLASSES TO REUSE

// SCALE-IN
.animate-scale-in,
[data-sectionstate="inactive"] .animate-scale-in {
  transition: all 1s ease-out;
  opacity: 0;
  transform: scale(0.8);
}
[data-sectionstate="active"] .animate-scale-in {
  opacity: 1;
  transform: scale(1);
}

// SLIDE UP
.animate-slide-up,
.animate-slide-up [data-sectionstate="inactive"] {
  transition: all 0.5s ease;
  opacity: 0;
  transform: translate(0, 15%);
}
.animate-slide-up [data-sectionstate="active"] {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}

// DROP IN CHILDREN WITH DELAYS
.animate-drop-in-with-delay,
[data-sectionstate="inactive"] .animate-drop-in-with-delay {
  * {
    transition: all 1s ease-out;
    opacity: 0;
    transform: translate(0, -20px);
    &:nth-child(1) {
      transition-delay: 0.2s;
    }
    &:nth-child(2) {
      transition-delay: 0.4s;
    }
    &:nth-child(3) {
      transition-delay: 0.6s;
    }
    &:nth-child(4) {
      transition-delay: 0.8s;
    }
    &:nth-child(5) {
      transition-delay: 1s;
    }
  }
}
[data-sectionstate="active"] .animate-drop-in-with-delay {
  * {
    opacity: 1;
    transform: translate(0, 0);
  }
}

// TITLE TEXT ANIMATION
// .typing {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

.typing {
  font-family: "oswald";
  font-size: 2em;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  line-height: 1.25;
  &:nth-child(2) {
    animation-delay: 1s;
  }
  &:nth-child(3) {
    animation-delay: 2s;
  }
  width: 0;
  animation: typingAnim 2s steps(50) forwards;
}

@keyframes typingAnim {
  to {
    width: 100%;
  }
}

// body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   width: 100vw;
// }

// p {
//   color: #333;
//   font-family: tahoma;
//   font-size: 3rem;
//   font-weight: 100;
//   line-height: 1.5;
//   text-transform: uppercase;
//   white-space: nowrap;
//   overflow: hidden;
//   position: relative;
//   width: 550px;
// }

// p span {
//   font-size: 40px;
//   margin-left: 40px;
// }

.revealmessage {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 200px;
  font-size: 1.3rem;
  line-height: 1.15;
}

.premessage {
  display: inline;
  overflow: hidden;
}

.message {
  background-color: yellow;
  color: #333;
  display: inline-block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.25rem;
  // top: 0.2rem;
  left: 95px;
  animation: openclose 7s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
  font-family: tahoma, impact, sans-serif;
}

@keyframes openclose {
  0% {
    top: 0rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 100px;
  }
  30% {
    top: 0rem;
    width: 100px;
  }
  33% {
    top: 0rem;
    width: 0;
  }
  35% {
    top: 0rem;
    width: 0;
  }
  38% {
    top: -1.5rem;
  }
  48% {
    top: -1.5rem;
    width: 75px;
  }
  62% {
    top: -1.5rem;
    width: 75px;
  }
  66% {
    top: -1.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -2.9rem;
    width: 0;
    text-indent: 0;
  }
  86% {
    top: -2.9rem;
    width: 110px;
  }
  95% {
    top: -2.9rem;
    width: 110px;
  }
  98% {
    top: -2.9rem;
    width: 0;
    text-indent: 0;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

/* MEDIA QUERIES */

//MOBILE

@media (min-width: $breakpoint-mobile) {
  .revealmessage {
    width: 230px;
    font-size: 1.5rem;
    line-height: 1.15;
  }

  .message {
    font-weight: 550;
    padding-left: 0.25rem;
    // top: 0.2rem;
    left: 110px;
  }

  @keyframes openclose {
    0% {
      top: 0rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0rem;
      width: 230px;
    }
    33% {
      top: 0rem;
      width: 0;
    }
    35% {
      top: 0rem;
      width: 0;
    }
    38% {
      top: -1.7rem;
    }
    48% {
      top: -1.7rem;
      width: 90px;
    }
    62% {
      top: -1.7rem;
      width: 90px;
    }
    66% {
      top: -1.7rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -3.35rem;
      width: 0;
      text-indent: 0;
    }
    86% {
      top: -3.35rem;
      width: 310px;
    }
    95% {
      top: -3.35rem;
      width: 310px;
    }
    98% {
      top: -3.35rem;
      width: 0;
      text-indent: 0;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
}

@media (min-width: $breakpoint-small) {
  .revealmessage {
    width: 330px;
    font-size: 2rem;
    line-height: 1.25;
  }

  .message {
    font-weight: 600;
    padding-left: 0.5rem;
    // top: 0.2rem;
    left: 150px;
  }

  @keyframes openclose {
    0% {
      top: 0rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 160px;
    }
    30% {
      top: 0rem;
      width: 160px;
    }
    33% {
      top: 0rem;
      width: 0;
    }
    35% {
      top: 0rem;
      width: 0;
    }
    38% {
      top: -2.6rem;
    }
    48% {
      top: -2.6rem;
      width: 125px;
    }
    62% {
      top: -2.6rem;
      width: 125px;
    }
    66% {
      top: -2.6rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -5rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -5rem;
      width: 240px;
    }
    95% {
      top: -5rem;
      width: 240px;
    }
    98% {
      top: -5rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .revealmessage {
    width: 430px;
    font-size: 2.75rem;
    line-height: 1.25;
  }

  .message {
    font-weight: 700;
    padding-left: 0.5rem;
    // top: 0.2rem;
    left: 203px;
  }

  @keyframes openclose {
    0% {
      top: 0rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 210px;
    }
    30% {
      top: 0rem;
      width: 210px;
    }
    33% {
      top: 0rem;
      width: 0;
    }
    35% {
      top: 0rem;
      width: 0;
    }
    38% {
      top: -3.45rem;
    }
    48% {
      top: -3.45rem;
      width: 163px;
    }
    62% {
      top: -3.45rem;
      width: 163px;
    }
    66% {
      top: -3.45rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -6.85rem;
      width: 0;
      text-indent: 1px;
    }
    86% {
      top: -6.85rem;
      width: 255px;
    }
    95% {
      top: -6.85rem;
      width: 255px;
    }
    98% {
      top: -6.85rem;
      width: 0;
      text-indent: 1px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
}

@media (min-width: $breakpoint-large) {
  .revealmessage {
    width: 550px;
    font-size: 3rem;
    line-height: 1.5;
  }

  .message {
    font-weight: 900;
    padding-left: 0.5rem;
    // top: 0.2rem;
    left: 220px;
  }

  @keyframes openclose {
    0% {
      top: 0rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0rem;
      width: 230px;
    }
    33% {
      top: 0rem;
      width: 0;
    }
    35% {
      top: 0rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
    }
    48% {
      top: -4.5rem;
      width: 180px;
    }
    62% {
      top: -4.5rem;
      width: 180px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 250px;
    }
    95% {
      top: -9rem;
      width: 250px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
}
