/* BUTTONS */

.button {
    display: inline-block;
    background-color: rgb(219, 213, 118);
    color: white;
    text-decoration: none;
    padding: 0.25em;
    border-radius: 2px;
    // margin: 0 3em 1em 3em;

    &:hover {
        color: white;
        background-color: $color-link-darker;
    }
}
