/* RESET BODY */
body {
    margin: 0;
}

/* CONTAINER */
.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 5em;
}

.about-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5em;
}

/* MEDIA QUERIES */

/* RESPONSIVE TYPOGRAPHY */
//SMALL
body {
    font-size: 87.5%;
}

@media (min-width: $breakpoint-small) {
    body {
        font-size: 100%;
    }
}

@media (min-width: $breakpoint-large) {
    body {
        font-size: 112.5%;
    }
}
