/* SITE STRUCTURE */

.site-header {
    position: absolute; //This lifts the header allowing the hero to go underneath it
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: white;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        // display: flex; //This places text next to logo
        align-items: center;
        // position: absolute;
        z-index: 13;
    }

    .logo {
        max-width: 60px;
        margin-right: 0.5em;
    }
}

/* SITE-FOOTER */
.site-footer {
    background-color: black;
    display: flex;
    padding: 1em;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;
    }
}

section {
    padding: 2em 0 2em 0;
    // min-height: 100vh;
    display: grid;
    align-items: center;

    .first-row-section {
        padding: 0;
    }

    .surfriders-section {
        padding: 4em 0 2em 0;
    }
}

/* HERO SECTION */
.hero {
    // background: black;
    // text-align: center;
    padding: 2em 0 0 0;
    margin-bottom: 2em;
    color: white;
    min-height: 101vh; //This increases the height of the hero
    // display: grid;
    // place-items: center; //These vertically center items/text in the hero
    background-image: url("../img/hero-img.jpg");
    background-size: cover;
    background-position: center;
    width: auto;

    .container {
        max-width: 100%; //This overrides the container
    }

    h1 {
        margin-bottom: 0.25em;
        color: white;
        max-width: 900px;
        // display: flex;
    }
    p {
        margin: 1em 0 1em 0;
    }
}

.large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    .absolute {
        position: absolute;
        margin: 0;
        padding: 0;
        color: #f9f1e9;
        top: 45%;
        left: 50%;
        // -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -45%, 0);
    }
}

.scale-with-grid {
    height: auto;
}

// @media (min-width: $breakpoint-medium) {
//     .large-header {
//         .absolute {
//             top: 15%;
//             left: 32%;
//         }
//     }
// }

// @media (min-height: $breakpoint-large) {
//     .large-header {
//         .absolute {
//             top: 25%;
//             left: 37%;
//         }
//     }
// }

/* ABOUT HERO SECTION */
.about-hero {
    background: black;
    h1 {
        margin-bottom: 0.25em;
        color: white;
        max-width: 900px;
        // display: flex;
    }
}

/* CONTACT SECTION */
.contact {
    background: black;
    // text-align: center;
    padding: 2em 0;
    color: white;
    min-height: 101vh; //This increases the height of the hero
    display: grid;
    place-items: center; //These vertically center items/text in the hero
    margin-top: 2em;
}

/* PROJECT HERO SECTION */
.project-hero {
    // text-align: center;
    padding: 0;
    // min-height: 100vh; //This increases the height of the hero
    // display: grid;
    // place-items: center; //These vertically center items/text in the hero
    .project-hero-content-short {
        max-width: 1000px;
        // margin: -300px auto 300px auto;
        position: relative;
        top: -130px;
        width: 80%;
        margin: 0 auto;
        padding: 0 $gutter;
    }
    .project-hero-content-long {
        max-width: 1000px;
        // margin: -300px auto 300px auto;
        position: relative;
        top: -160px;
        width: 80%;
        margin: 0 auto;
        padding: 0 $gutter;
    }
    .project-hero-content-irregular {
        max-width: 1000px;
        // margin: -300px auto 300px auto;
        position: relative;
        top: -220px;
        width: 80%;
        margin: 0 auto;
        padding: 0 $gutter;
    }
    .project-hero-img {
        text-align: right;
        img {
            width: 80%;
            // margin-right: 0;
            // margin-left: auto;
            // display: block;
        }
    }
    .container {
        // width: 100%; //This overrides the container
    }

    h1 {
        margin-bottom: 0.25em;
        color: white;
        max-width: 900px;
        // display: flex;
    }
    // p {
    //     margin: 1em auto;
    // }
}

/* PROJECT PAGE SECTION */
.project-section {
    background: white;
    // text-align: center;
    padding: 2em 0;
    color: white;
    min-height: 100vh; //This increases the height of the hero
    display: grid;
    place-items: center; //These vertically center items/text in the hero

    .container {
        // width: 100%; //This overrides the container
    }

    h1 {
        margin-bottom: 0.25em;
        color: black;
        max-width: 900px;
        // display: flex;
    }
    p {
        margin: 1em auto;
        color: black;
    }
}

/* FULL-WIDTH HELPER */

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    display: grid;
    place-items: center;
}

.full-width img {
    width: 100%;
}

/* MEDIA QUERIES */

//MOBILE
@media (min-width: $breakpoint-mobile) {
    .project-hero {
        .project-hero-content-short {
            max-width: 1000px;
            // margin: -300px auto 300px auto;
            top: -170px;
            width: 85%;
        }
        .project-hero-content-long {
            max-width: 1000px;
            // margin: -300px auto 300px auto;
            top: -210px;
            width: 85%;
        }
    }
}

@media (min-width: $breakpoint-small) {
    .project-hero {
        .project-hero-content-short {
            max-width: 1000px;
            // margin: -300px auto 300px auto;
            top: -270px;
            width: 90%;
        }
        .project-hero-content-long {
            max-width: 1000px;
            // margin: -300px auto 300px auto;
            top: -340px;
            width: 90%;
        }
    }
}

@media (min-width: $breakpoint-medium) {
    .project-hero {
        .project-hero-content-short {
            max-width: 1000px;
            // margin: -300px auto 300px auto;
            top: -340px;
            width: 97%;
        }
        .project-hero-content-long {
            max-width: 1000px;
            // margin: -300px auto 300px auto;
            top: -450px;
            width: 97%;
        }
        .project-hero-content-irregular {
            max-width: 1000px;
            // margin: -300px auto 300px auto;
            top: -580px;
            width: 97%;
        }
    }
}

@media (min-width: $breakpoint-large) {
    .project-hero {
        .project-hero-content-short {
            max-width: 1000px;
            // margin: -300px auto 300px auto;
            top: -400px;
            width: 100%;
        }
        .project-hero-content-long {
            max-width: 1000px;
            // margin: -300px auto 300px auto;
            top: -450px;
            width: 100%;
        }
    }
}
